<div class="action-header">
  <div class="action-name">
    <p>【ログイン】</p>
  </div>

  <div class="action-detail">
    <p>・会員登録時に入力したemailアドレス、パスワードを入力して下さい。</p>
    <p>・出品や購入を行うためには、会員登録およびログインが必要です。</p>
  </div>
</div>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-5">

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :email, class: "label" %>
          <p class="control has-icons-left">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", :placeholder => "email", class: "input" %>
            <span class="icon is-small is-left">
              <i class="fas fa-envelope"></i>
            </span>
          </p>
        </div>

        <div class="field">
          <%= f.label :password, class: "label" %>
          <p class="control has-icons-left">
            <%= f.password_field :password, autocomplete: "current-password", :placeholder => "password", class: "input" %>
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
          </p>
        </div>

        <div class="actions">
          <%= f.submit "Log in", class: "button is-info" %>
        </div>
        <% end %>

        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</section>